You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
# Write your function here

def neg_integer(x):
    return x * -1

In [3]:
# Test your function with input x
x = 4
neg_integer(4)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [16]:
# Write your function here
def max_list_value(lst):
    return max(lst)

In [18]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
max_list_value(lst)

# Create you own input list to test with
test_lst = [12,346342,78,468,4589.-12.5,764]
max_list_value(test_lst)

346342

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [53]:
import pandas as pd

def dataframe_creator(lst1, lst2, str1, str2):
    lst1 = np.array(lst1)
    lst1_normalized = (lst1-min(lst1))/(max(lst1)-min(lst1))
    lst2 = np.array(lst2)
    lst2_normalized = (lst2-min(lst2))/(max(lst2)-min(lst2))
    return pd.DataFrame({str1:lst1_normalized, str2:lst2_normalized})

In [54]:
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

In [55]:
dataframe_creator(lst1, lst2, str1, str2)

   one       two
0  0.0  0.000000
1  0.5  0.666667
2  1.0  1.000000

In [56]:
# test your challenge problem function
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

In [57]:
dataframe_creator(lst1, lst2, str1, str2)

         one     alpha
0   0.036942  0.888530
1   0.060997  0.022617
2   0.067869  0.187399
3   0.057560  0.512116
4   0.892612  0.634895
5   0.842784  0.851373
6   0.463918  0.075929
7   0.350515  0.051696
8   0.989691  0.930533
9   0.885739  0.586430
10  0.420962  0.898223
11  0.567869  0.458805
12  0.602234  0.835218
13  0.928694  0.735057
14  0.427835  0.957997
15  0.315292  0.216478
16  0.664089  0.017771
17  0.089347  0.893376
18  0.883162  0.000000
19  0.659794  0.261712
20  0.079897  0.135703
21  0.125430  0.557351
22  0.277491  0.907916
23  0.374570  0.038772
24  0.141753  0.185784
25  0.475086  0.434572
26  0.772337  0.145396
27  0.310137  0.161551
28  0.292096  0.405493
29  0.249141  0.806139
..       ...       ...
70  0.912371  0.835218
71  0.479381  0.151858
72  1.000000  0.676898
73  0.575601  0.891761
74  0.920103  0.883683
75  0.085911  0.216478
76  0.582474  0.914378
77  0.134880  0.702746
78  0.003436  0.134087
79  0.119416  0.232633
80  0.417526  0.988691
81  0.676976  0.891761
82  0.509450  0.552504
83  0.687285  0.179321
84  0.855670  1.000000
85  0.804124  0.416801
86  0.773196  0.762520
87  0.179553  0.546042
88  0.326460  0.213247
89  0.774914  0.762520
90  0.631443  0.489499
91  0.672680  0.794830
92  0.800687  0.258481
93  0.756873  0.943457
94  0.050687  0.365105
95  0.474227  0.268174
96  0.868557  0.783522
97  0.496564  0.050081
98  0.701031  0.712439
99  0.061856  0.460420

[100 rows x 2 columns]